node_modules/
out/
.next/
.tools/
.env
.env.local
.env.*.local
.vscode/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next-*.log
.next-*.png
.DS_Store
coverage/
__pycache__/
*.tsbuildinfo
*.aux
*.log
*.out
*.toc
*.bcf
*.run.xml
*.bbl
*.blg
*.synctex.gz
